@model AdvertisementAppUserCreateModel

<form class="w-75 mx-auto p-3" asp-action="Apply" asp-controller="Advertisement" method="post" enctype="multipart/form-data">
	<input type="hidden" asp-for="@Model.AdvertisementId" />
	<input type="hidden" asp-for="@Model.AppUserId" />
	@if (ViewBag.GenderId == (int)GenderType.Male)
	{
		<div class="mb-3">
			<label>Military Status:</label>
			<select onchange="setInputVisibility()" asp-for="@Model.MilitaryStatusId" asp-items="@ViewBag.MilitaryStatus" class="form-select">
			</select>
		</div>
		<div id="dateDiv" class="mb-3" style="display:none">
			<label>Until When?</label>
			<input type="date" asp-for="@Model.EndDate" class="form-control" />
		</div>
	}
	else
	{
		<input type="hidden" asp-for="@Model.MilitaryStatusId" value="@((int)MilitaryStatusType.Exempt)" />
	}

	<div class="mb-3">
		<label>Work Experience(annualy):</label>
		<input type="number" asp-for="@Model.WorkExperience" class="form-control" />
	</div>

	<div class="mb-3">
		<label>Upload Your Cv:</label>
		<input type="file" asp-for="@Model.CvFile" class="form-control" />
	</div>

	<div class="mb-3">
		<button type="submit" class="btn btn-primary">Save</button>
	</div>

	<div asp-validation-summary="All" class="text-danger"> </div>

</form>

@section script{
<script>
	setInputVisibility();
	function setInputVisibility(){
		
		var selectElement =document.getElementById("MilitaryStatusId");
		var militaryStatusId= selectElement.value;
		var dateDivElement= document.getElementById("dateDiv");
		if(militaryStatusId==2)
		{
			dateDivElement.style.display="block";
		}
		else{
			dateDivElement.style.display="none";
		}
	}
</script>
}